/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 
}
 /* Navbar Styling */
.navbar {
    background-color: #212121 !important; 
}
.navbar a{
    color: #fff;
    font-size: 30px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

 
.navbar-nav .nav-link {
    font-size: 25px;
    color: #fff;
    transition: 0.3s ease-in-out;
}
 .navbar-toggler-icon  {
    background: #fff;
 }


/* Section Styling */
.container {
    padding-top: 100px; /* Prevent content from hiding behind navbar */
}
.header h1 {
    margin-top: 25px;
    font-size: 10rem;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25vh;
    font-family: fantasy;
}

.header2 {
    margin-bottom: 25vh;
}
.header2 h2{
    font-size: 5rem;
    font-family: fantasy;
    margin-bottom: 50px;
}
.header2 h4{
    margin-top: 80px;
}
@keyframes appeat{
    from{
        opacity: 1;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.header2{
    animation: appeat linear;
    animation-timeline:view();
    animation-range:entery 0 cover;

}
.heading3 h1{
   font-size: 6rem;
   text-align: center;
   font-family: fantasy;
   margin-bottom: 50px;
}
.teamimg img{
   max-width: 100%;
   height: auto;
}
.bannner img{
    max-width: 50%;
    height: auto;
}
.project-titile h1{
    font-size: 3rem;
    font-family: fantasy;
    cursor: pointer;
}
.project-titile img{
    max-width: 75%;
    height: auto;
    margin-bottom: 50vh;
    box-shadow: 10px 10px;
}
.contactus h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 50vh;

}
.contactus ul li{
    list-style: none;
    display: inline;
    margin: 10px;
   
}
.contactus ul li i{
    font-size: 35px;

}
 
 

/* Responsive Design */
@media (max-width: 650px) {
  
    .header h1 {
        font-size: 6rem;
    
    }
    .header2 {
        margin-bottom: 10vh;
    }
    .header2 h2{
        font-size: 4rem;
    }
    .heading3 h1{
        font-size: 3rem;


    }
   
     
}
